* {
    padding: 0;
    margin: 0;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

html,body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

body h3 {
    font-family: 'Lobster', cursive;
}

body i {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    padding: 10px 0px;
    border-bottom: 1px solid floralwhite;
}

.header {
    margin: auto;
    background-color: orange;
    color: black;
    display: flex;
}

h1 {
    display: block;
    text-align: center;
    color: black;
    margin: auto;
    margin-right: 0px;
}

.search-box {
    color: black;
    display: block;
    margin: auto;
    margin-left: 0;
    width: 50px;
    height: 50px;
}

.search-box button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: orange;
}

.backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .0;
    filter: alpha(opacity=0);
    z-index: 50;
    display: none;
}

.box {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 50%;
    height: 20%;
    background: #ffffff;
    z-index: 51;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
    display: none;
}

.box .box-search {
    display: flex;
    width: 80%;
}

.box .box-search input {
    display: block;
    width: 70%;
    padding: 0;
    margin: 0;
    border-color: transparent;
}

.box .box-search .find-news {
    margin-left: 3px;
}

.box .box-search i {
    display: block;
    padding: 0;
    margin: 0;
}

.close {
    float: right;
    cursor: pointer;
    width: 15px;
    padding-top: 0%;
    background-color: red;
    text-align: center;
}

.loading {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    background-color: darkgray;
    color: goldenrod;
    margin-top: 70px;
}

.loading img {
    width: 50%;
    height: 500px;
    z-index: 500;
    overflow: hidden;
}

.content {
    width: 80%;
    margin: 0 10%;
    margin-top: 65px;
}

.content .content-img img {
    width: 100%;
    height: 200px;
}

/* response */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    .content .content-news {
        display: block;
        float: left;
        border: 3px solid darkslategrey;
    }
    .content .content-img {
        display: block;
        padding: 2px;
        margin-left: 2px;
        width: 100% !important;
    }
    .content .content-img img {
        width: 50%;
        height: 200px;
        padding: 0 20%;
    }
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    /* For desktop: */
    .content .content-news {
        display: flex;
        border: 3px solid darkslategrey;
    }
    .content .content-img {
        display: block !important;
        padding: 2px;
        margin-left: 2px;
        width: 35% !important;
    }

    .content .content-img img {
        width: 100%;
        padding: 0;
    }

    .content .chitiet {
        width: 60%;
        margin-left: 3px;
        padding-left: 3px;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}